body{
    background-image: url(kepek/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    text-align: center;
}
header img{
    width: 150px;
}
.row{
    padding: 50px;
}
.circle{
    border: 1px black solid;
    border-radius: 20px;
    padding: 15px;
}